build
brain_2_speech.egg-info
features
SingleWordProductionDutch-iBIDS
.ipynb_checkpoints
__pycache__/
SingleWordProductionDutch-iBIDS.zip
demo_wav_file.wav
demo_wavfile.wav
deo_wavfile.wav
spec_classifier/data
spec_classifier/models